<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" href="/31.jpeg" type="image/x-icon">

    <!-- ðŸŒ Open Graph Meta Tags for Social Preview -->
  <meta property="og:title" content="Restron- An online platform to grab your meals" />
  <meta property="og:description" content="Fulfil your cravings with our diverse food options." />
  <meta property="og:image" content="https://restron.onrender.com/31.jpeg" />
  <meta property="og:url" content="https://restron.onrender.com/" />
  <meta property="og:type" content="website" />

  <!-- ðŸ¦ Twitter Card Preview -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Restron- An online platform to grab your meals" />
  <meta name="twitter:description" content="Fulfil your cravings with our diverse food options." />
  <meta name="twitter:image" content="https://restron.onrender.com/31.jpeg" />

</head>
<!-- SweetAlert2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
    
